/*reset*/
body,nav,dl,dt,dd,p,h1,h2,h3,h4,ul,ol,li,input,button,textarea,footer{margin:0;padding:0}
body{font:16px/1.5 'Microsoft Yahei','Simsun';  color:#333;background:#fff;-webkit-text-size-adjust: none; min-width:320px;}
h1,h2,h3,h4,h5,h6{font-size:100%}
form{display:inline}
ul,ol{list-style:none}
a{text-decoration:none;color:#1a1a1a}
a:hover, a:active, a:focus{color:#1c5aa2;text-decoration: none;}
a:active{color:#aaa;}
img{vertical-align:middle;border:0;-ms-interpolation-mode:bicubic;}
button,input,select,textarea{font-size:100%; vertical-align:middle;outline:none;}
textarea{resize:none}
button,input[type="button"],input[type="reset"],input[type="submit"] {cursor:pointer;-webkit-appearance:button;-moz-appearance:button}
input:focus:-moz-placeholder,input:focus::-webkit-input-placeholder {color:transparent}
button::-moz-focus-inner,input::-moz-focus-inner { padding:0; border:0}
table { border-collapse:collapse; border-spacing:0}
.fl{float:left;}.fr{float:right;}.hide{display:none;}.show{display: block;}
.ellipsis { white-space:nowrap; text-overflow:ellipsis; overflow:hidden}
.break { word-break:break-all; word-wrap:break-word}
header, footer, article, section, nav, menu, hgroup {display: block;clear:all;}

body {
	font-size: 14px;
	background: #fff;
	font-family: 'Microsoft Yahei';
}
a {
	color: #2EAAE0;
	line-height: 1.5em;
}
header {
	text-align: center;
	color: #3D98FF;
	border: 1px solid #ddd;
	padding: 5px;
	margin-bottom: 10px;
	font-size: 14px;
	height: 25px;
}
.clear: after{
	content:".";
	height:0;
	visibility:hidden;
	display:block;
	clear:both;
}
.txtRed{
	color: red;
}
.txt-center{
	text-align: center;
}
.b-item {
	width: 44%;
	height: 120px;
	float: left;
	margin:1% 3%;
	border-radius: 8px;
}
#b-1 {
	background: #FF697A;
}
#b-2	{
	background: #3D98FF;
}
#b-3 {
	background: #5EBE00;
}
#b-4 {
	background: #FC9720;
}

.bar {
	text-align: center;
	font-weight: bold;
	color: #868686;
	margin: 10px 0;
}

.option {
	height: 60px;
	border: 1px solid #ddd;
	background: #fff;
}
.o-item{
	padding: 0.2em 0;
	width: 25%;
	height: 100%;
	float: left;
}

.commonTable {
	width: 100%;
	background: #fff;
	border: 1px solid #fafafa;
}
.commonTable tr{
	height: 80px;
	text-align: center;
	line-height: 30px;
	font-size: 14px;
}

#info{
	background: #fff;
	padding: 5px 0;
}
.info-tip {
	font-size: 1.1em;
	line-height: 2em;
	padding: 5px 10px;
}
#info-table {
	width: 100%;
	margin: 5px 0;
}
#info-table td{
	border: 1px solid #ddd;
	height: 30px;
	text-indent: 0.5em;
}
.btnOp{
	text-align: center;
	cursor: pointer;
	font-size: 1.2em;
	color: #3D98FF;
}
.detail {
	line-height: 2em;
	font-size: 1.3em;
	padding-left: 2em;
}
.common-table .table-free td {
	border-width: 0;
}
.table-free {
	width: 100%;
}
.table-free tr {
	height: 30px;
}
.table-free td {
	padding-left: 1em;
}
.doc-table td{
	padding: 0.5em 0;
}
.td-top {
	vertical-align: top;
	border-right-width: 0 !important;
}
.inn-list p{
	line-height: 2em;
}
#info .tr-high {
	height: 200px
}

/*登录*/
.common-table {
	width: 100%;
	margin-top: -10px;
}
.common-footer {
	width: 100%;
}
.common-table .tr-high {
	height: 80px;
}
.common-table .index-td {
	text-align: left;
	padding-left: 5px;
}
.common-table .tr-high img{
	width: 60px;
	height: 60px;
	text-align: left;
}
.common-table td,.common-footer td{
	text-align: center;
	border: 1px solid #ddd;
	height: 3em;
}
.common-table td input {
    height: 2em;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 3px;
}
.common-table .warm-tip{
	text-align: left;
	font-weight: bold;
	font-size: 1.2em;
	text-indent: 1em;
}
.common-table .exp-word {
	position: absolute;
	right: 0.5em;
	line-height: 26px;
}
.f-item {
	color: #3D98FF;
}
.vip-td {
	background: #FC9720;
	color: #fff;
}
.vip-blue {
	background: #3A95F3;
	text-align: center;
	color: #fff;
}
.vip-blue a,.vip-td a {
  color: #fff;
}
.switch {
	position: absolute;
	right: 0;
	top: 9px;
}
.icon {
	width:24px;
	height: 24px;
	margin-right: 10px;
}
.insure-content{
	display: none;
}
.common-left td{
	text-align: left;
	padding-left: 2em;
}
.common-table .trigger{
	width: 24px;
    display: inline-block;
    height: 24px;
    vertical-align: middle;
    background: url(../img/down.png) no-repeat;
}
.common-table .left-tr td{
	text-align: left;
	padding-left: 1em;
}
.common-left .active{
	background: url(../img/up.png) no-repeat;
}
.common-left .insure-content {
	padding:0.2em 1em;
	background: #ddd;
	color: #333;
	border-radius: 5px;
	margin: 5px;
}
.btn-bottom {
	width: 50%;
	float: left;
	height: 45px;
	color: #fff;
	font-size: 20px;
	text-align: center;
	line-height: 45px;
}
.btn-bottom .small {
	font-size: 12px;
}
.btn-bottom-l {
	background: #000;
}
.btn-bottom-r {
	background: #F14949;
}
.insure-people {
	font-size: 16px;
	margin: 10px 0;
}
.insure-people .symbol {
	font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    display: inline-block;
    height: 20px;
    width: 20px;
    line-height: 18px;
    color: #fff;
    vertical-align: middle;
    margin: 0 5px;
}
.insure-people .jian {
	background: red;
}
.insure-people .add {
	background: green;
}
.insure-people .del {
	font-size: 12px;
	margin-left: 10px;
}
.insure-people .user {
	margin-right: 10px;
}

#contact-table td {
	padding-left: 0;
}
.backBtn {
    position: absolute;
    left: 5px;
    top: 10px;
    width: 24px;
    height: 24px;
    display: block;
    background: url(../img/left.png) no-repeat;
}
td .inline-input {
	width: 20%;
	margin-right: 5px;
}
.inn {
	width: 60px;
	height: 60px;
	margin: 10px;
}
.user-table {
	width: 100%;
}
.user-table td {
	height: 30px;
	border: 1px solid #ccc;
	padding: 5px 20px;
}
.user-table .vip-td {
	text-align: center;
}
.user-table .linkTr {
	display: block;
	background: url(../img/right.png) right center no-repeat;
}
.user-table .pr {
	float: right;
	margin-right: 20px;
}
.common-table .tr-left td{
	text-align: left;
	padding-left: 10px;
}
.checkNum {
	font-size: 0.8em;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.table-left td {
	text-align: left;
}
.pull-right {
	float: right;
	margin-right: 5px;
}
.pull-left {
	float: left;
	margin-left: 5px;
}
.pay {
	padding: 5px 10px;
	color: #fff;
	background: #FD8C31;
}
.photo-table {
	width: 100%;
	background: #ddd;
	color: #333;
}
.photo-table td {
	padding: 6px 0;
	text-align: center;
	font-size: 1.1em;
	border: 1px solid #999;
}